<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h2 class="h2 ">{{ title }}</h2>

  <div>
    <!-- @if (numero>=10) {
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste inventore, sit distinctio neque sunt quos facere dicta modi possimus quibusdam tempora fugiat laborum a? Magnam pariatur consequuntur possimus dignissimos aperiam.</p>
    }@else{
      <p>me la pela</p>
    }
    <hr>
    @for (peliculaa of peliculas; track $index) {
       <div>
      <div>id:{{$index+1 }}</div>
      <label for="">Pelicula: {{ peliculaa.name }}</label>
      
      <div>Edad: {{ peliculaa.edad }}</div>
      <hr>
    </div>
    }
   
    <div>
      aki
    </div> -->

    <a routerLink="home">home</a>
    <a routerLink="nosotros">nosotros</a>

  </div>

   <app-genero></app-genero>
  <router-outlet></router-outlet>
  
</body>
</html>